/* 
Author: ZOETARDT Craig
email: craig.zoetardt@student.ehb.be
nav bar: https://www.youtube.com/watch?v=PwWHL3RyQgk
search balk: https://www.w3schools.com/css/css_form.asp
afbeeldingen: https://www.w3schools.com/css/css3_images.asp
*/

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    margin-right: 20px ;

}

h1 {
    font-family: "Titillium+Web", sans-serif ;
    font-weight: 500;
    font-size: 50px;
    color: black;
    text-decoration: none;
   
} 
/* Styling imput fields */
input {
  
  width: calc(100% - 40px);
  padding: 16px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background-color: #b8b6b68f;
  background-image: url('search-icon-png-21.png');
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding-left: 42px;
  margin-right: 20px;
  margin-top: 10px;
}
/*select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #b8b6b68f;
    font-family: "Titillium+Web", sans-serif ;
    font-weight: 500;
    font-size: 16px;
    color: #505e63;
    text-decoration: none;
    margin: 0px;
    
  } */
.main-content {
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: auto;
    margin-top: 135px;
    
}
.winkelaflb {
    max-width: 760px;
  height: auto;
}
/*.winkel2aflb{
    max-width: 760px;
    height: auto;
}*/
.winkel{
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0px;
    margin-top: 50px ;
    margin-bottom: 25px
}
/*.winkel2{
    height: 100%;
    width: 100%;
    max-width: 800px;
    margin: 0px;
    margin-top: 50px;
    margin-bottom: 25px;
}*/
h2 {
    font-family: "Titillium+Web", sans-serif ;
    font-weight: 500;
    font-size: 35px;
    color: black;
    text-decoration: none;
    margin-top: 25px;
}
p{
    font-family: "Titillium+Web", sans-serif ;
    font-weight: 500;
    font-size: 20px;
    color: black;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
}
html{
    background-color: #ecf0f1;
}

