body {
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: Arial;
    margin-bottom: 2%;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

p {
    font-family: Arial;
}

img {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
    padding: 2%;
}

button {
    padding: 2%;
    font-family: Arial;
    font-size: 15px;
}