<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../store/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>{Title problem}</title>
</head>

<body>
    <div class="main-content">
        <div class="d-flex justify-content-between">

            <div>
                <h1>{Title problem}</h1>
                <h5>{date created}</h5>
            </div>
            <div class="d-flex flex-column justify-content-end">
                <input type="submit" value="Close ticket" class="btn btn-primary">
            </div>
        </div>
        <table class="table table-hover mt-4">
            <tbody>
                <tr>
                    <td scope="row" class="col-1">klant@gmail.com</td>
                    <td>
                        <div>
                            <p class="text-end fst-italic">{date message}</p>
                            <p>Kan niet reserveren</p>
                        </div>
                    </td>
                </tr>
                <tr class="table-light">
                    <td scope="row">admin@gmail.com</td>
                    <td>
                        <div>
                            <p class="text-end fst-italic">{date message}</p>
                            <p>Waar heb je geklikt?</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td scope="row">klant@gmail.com</td>
                    <td>
                        <div>
                            <p class="text-end fst-italic">{date message}</p>
                            <p>Op reserveren</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="mb-3">
                            <label for="ticket-message-textarea" class="form-label">Example textarea</label>
                            <textarea class="form-control" id="ticket-message-text" rows="3"></textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Zenden">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>